.label {
	color: #fff;
	border-radius: 4px;
	padding: 0 6px;
	
	&.label-default {
	  background-color: $grey;
	  border-color: 1px solid $grey;
	}
	
	&.label-primary {
    background-color: $primary;
    border-color: 1px solid $primary;
  }
  
  &.label-success {
    background-color: $success;
    border-color: 1px solid $success;
  }
  
  &.label-warning {
    background-color: $warning;
    border-color: 1px solid $warning;
  }
  
  &.label-info {
    background-color: $info;
    border-color: 1px solid $info;
  }
  
  &.label-danger {
    background-color: $danger;
    border-color: 1px solid $danger;
  }
}