#comments {
  .indented {
    margin-left: 40px;
  }
}

.comment {
  margin-bottom: 20px;
  
  img {
    float: left;
    margin-right: 20px;
  }
  
  .comment-picture {
    img {
      display: block;
      width: 70px;
      height: 70px;
    }
  }
  
  .comment-info {
    margin-left: 90px;
    padding-bottom: 20px;
    border-bottom: 1px solid $border-color;
  }
}

.comment-add {
  a,
  a.active {
    color: $link-color;
  }
}
