article.node--product {
  &.node--product--full {
    .node__content {
      @extend .clearfix;
    }
    
    h1 {
      font-size: $h2-font-size;
      line-height: 1.25em;
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
    
    .product-image {
      @include span(4 of 4);
    }

    .field--name-field-image {
      .field__item {
        overflow: hidden;
        background-color: #eeeeee;
        max-height: 290px;
      }

      img {
        padding: 1px;
        width: auto;
        margin: 0 auto;
      }
    }
  
    .product-overview {
      @include span(last 4 of 4);
      position: relative;
    }
  
    .product-detail {
      @include span(last 4 of 4);
      border-top: 1px solid $lighter-grey;
      margin-top: 30px;
    }
    
    .commerce-product-field {
      display: block;
      clear: both;
    }
  }

  &.node--product--grid {
    .field--name-field-image {
      .field__item {
        overflow: hidden;
        background-color: #eeeeee;
        max-height: 164px;
      }
      
      img {
        padding: 1px;
        width: auto;
        margin: 0 auto;
      }
    }
    
    .product-detail {
      position: relative;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      text-align: center;
      min-height: 216px;
      
      h4 {
        margin-bottom: 4px;
      }
    }
  }
}

.field--name-field-product-rating {
  margin-bottom: 10px;
}

.commerce-product-extra-field-sku {
  color: $light-grey;
  font-size: 14px;
}

.field--name-field-manufacturer {
  font-size: 12px;
  font-weight: 300;
}

.field--name-commerce-price {
  font-weight: 600;
  margin: 1em 0;
}

.field--name-field-product-variations {
  margin-bottom: 10px;
}

.flag-outer {
  margin-bottom: 10px;
}

.flag-compare {
  .flag-link-normal,
  .flag-link-toggle {
    font-size: 14px;
    line-height: 18px;
    display: inline;
  }
}

.flag-compare {
  .unflag-action {
    width: 100px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.view-id-category.view-display-id-page,
.view-id-taxonomy_term.view-display-id-page {
  .views-row {
    margin-bottom: $vert-spacing-unit;
  }

  h4 {
    font-weight: 600;
    margin: 1em 0;
  }

  a {
    color: $link-color;
    text-decoration: none;
    display: block;
    
    &.add-to-wishlist {
      color: $link-color;
      display: inline-block;
    }
    
    &:hover,
    &:focus {
      color: darken($link-color, 10%);
    }
  }

  @include susy-breakpoint(32em, 12) {
    .views-row {
      @include gallery(3 of 6);
    }
  }

  @include susy-breakpoint($tab, $tab-columns) {
    .views-row {
      @include gallery(3 of 9);
    }
  }
  
  @include susy-breakpoint($desk, $desk-columns) {
    .views-row {
      @include gallery(3 of 12);
    }
  }
}

@include susy-breakpoint($tab, $tab-columns) {
  article.node--product {
    &.node--product--full {
      .node__content {
      }
      
      h1 {
        font-size: $h1-font-size;
        line-height: 1.25em;
        margin-top: 0;
        margin-bottom: 0.5em;
      }
      
      .product-image {
        @include span(4 of 9);
      }
    
      .product-overview {
        @include span(last 5 of 9);
      }
    
      .product-detail {
        @include span(last 9 of 9);
      }
      
      .commerce-product-field {
      }
    }
  
    &.node--product--grid {
      .field--name-field-image {
        img {
        }
      }
      
      .product-detail {
        h4 {
        }
      }
    }
  }
}

@include susy-breakpoint($desk, $desk-columns) {

}
