.l-region--cart {
  float: left;
}
  
#block-commerce-cart-cart {
  position: relative;
  float: left;
  
  .fa {
    position: relative;
  }
  
  .item-count {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    z-index: 10;
    background-color: #ffb400;
    border-radius: 15px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-indent: 4px;
    color: $text-color;
  }

  .cart {
    font-size: 14px;
    line-height: 1em;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
    
    .fa {
      width: 32px;
    }
  }

  .cart-empty-block,
  .cart-contents {
    background: #ffffff;
    border: 1px solid $lighter-grey;
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    top: 26px;
    left: 0;
    z-index: 100;
    display: none;
    min-width: 300px;
  }
}

.commerce-add-to-cart {
	.form-item-quantity {
	  color: $text-color;
	  
	  label {
	    margin-bottom: 10px;
	  }
	}
	
  input[id="edit-submit"] {
    display: inline-block;
  }
}
  
.shopping-tools {
  .item {
    display: inline-block;
    vertical-align: middle;
    
    &:first-child {
      margin-left: 0;
    }
  }

  .item .fa {
    position: relative;
  }

  p {
    margin: 10px 0;
  }
}

.commerce-line-item-views-form {
  .form-actions {
    input[type="submit"] {
      margin-left: 10px;
    }
  
    /* Update cart */
    input#edit-submit {
      @extend .btn-link;
    }
  }
  
  input.delete-line-item {
    @extend .btn-link;
    font-size: 14px;
    padding: 10px 0;
  }

  table {
    tbody {
      tr {
        td {
          vertical-align: middle;
        }
      }
    }
  }

  .views-field-commerce-total {
    text-align: right;
  }
  
  .field--name-field-image {
    img {
      display: block;
    }
  }
}

@include susy-breakpoint($tab, $tab-columns) {
  .l-region--cart {
    float: right;
  }
  
  #block-formula-shopping-tools {
  }
  
  #block-commerce-cart-cart {
    .cart {
      color: $text-color;
    }

    .cart-empty-block,
    .cart-contents {
      left: auto;
      right: 0;
    }
  }
}

@include susy-breakpoint($desk, $desk-columns) {
  
}

